.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.625rem;
    .heading{
        text-align: center;
        color: red;
        font-size: 1.75rem;
        font-weight: 600;
        margin: 0;
    }
    .msg{
        color: black;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }
    .action-btn{
        background-color: red;
        color: white;
        font-size: 1rem;
        padding: 0.75rem 3rem;
        cursor: pointer;
        align-self: center;
        border: none;
        border-radius: 0.75rem;
        -webkit-border-radius: 0.75rem;
        -moz-border-radius: 0.75rem;
        -ms-border-radius: 0.75rem;
        -o-border-radius: 0.75rem;
}
}