<div class="avatar-main">
  <div class="avatar-header">
    <div class="go-back">
      <!-- <mat-icon>arrow_back</mat-icon>
       -->
       <img src="assets/images/icon2/back-arrow.svg" alt="back arrow" mat-dialog-close>
      <div class="go-bck-header">
        <h1>Edit Profile</h1>
        <h2>Chose a profile icon</h2>
      </div>
    </div>
    @if(false){
      <div class="profile">
        <span>Profile Name</span>
        <div class="profile-picture">
          <img src="assets/images/avatar/avatar-icon1.svg"  alt="">
        </div>
      </div>
    }

  </div>
  <div class="avatar-body">
    <h1>The Classics</h1>
    <div class="profile-image-container" >
      <ng-container >
        @for ( i of  numArray ; track i){
          <div class="image-box" (click) = selectProfileImg(i)>
            <img src="assets/images/avatar/avatar-icon{{i}}.svg">
          </div>
        }
      </ng-container>
    </div>
  </div>
</div>
