.footer-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px 8vw 50px 8vw;
    .footer-container{
        .call-container{
            color: #A7B3AD;
            margin-right:3px ;
            font-size: clamp(0.8125rem, 0.7644rem + 0.1923vw, 1rem);
        }
        a{
            color: #A7B3AD;
            font-size: clamp(0.8125rem, 0.7644rem + 0.1923vw, 1rem);;
            font-weight: 400;
        }
        .item-container{
            display: flex;
            padding: 0;
            list-style: none;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 2%;
            .item{
                width: 23.5%;
                line-height: 23px;
            }
        }
        

    }
    .footer-bottom{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .footer-logo{
            height: 55px;
            width: 244px;
            // background: red;
            background:  url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SzCa9K_h1PWwN41TwJMsFJhXkM2z-1lRrA&usqp=CAU');
            background-position:center ;
            background-size: cover;
            background-clip: text;
            h1{
                margin: 0;
                color: transparent;
                animation: changeColor 20s infinite;
                
            }
            
        }
    }
    
}
@keyframes changeColor {
    0%{
        color: transparent;
    }
    40%{
        color: transparent;
    }
    50%{
        color: red;
    }
    90%{
        color: red;
    }
    100%{
        color: transparent;
    }
}
@media(max-width :992px){
    .item{
        width: 32% !important;
    }
}
@media(max-width :768px){
    .item{
        width: 49% !important;
    }
}