<div class="wrapper">
    <div class="heading">
        <h2>Frequently Asked Questions</h2>
    </div>
    <div class="content">
      <ul class="content-list">
        <li #list class="list"  (click)="openList(0)">
            <div class="list-head" [class.text]="listArray[0]">
                <h3>What is CineFlix?</h3>
                <img src="assets/images/icons/plus.svg" alt="" class="rotate-icon">
            </div>
            <div class="list-content" [class.content-visible]="!listArray[0]">
                <p>
                    Cineflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries and more – on thousands of internet-connected devices.
                    You can watch as much as you want, whenever you want, without a single ad – all for one low monthly price. There's always something new to discover, and new TV shows and movies are added every week!
                </p>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus provident nam ipsam quas at voluptate dicta vel quis fugiat? Iure, unde quasi aperiam laboriosam commodi autem hic excepturi dolorum in?</p> -->
            </div>

        </li>
        <li #list class="list" (click)="openList(1)"  >
            <div class="list-head" [class.text]="listArray[1]">
                <h3>How much does CineFlix cost?</h3>
                <img src="assets/images/icons/plus.svg" alt="" class="rotate-icon">
            </div>
            <div class="list-content" [class.content-visible]="!listArray[1]">
                <p>
                    Watch Cineflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from ₹149 to ₹649 a month. No extra costs, no contracts.
                </p>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus provident nam ipsam quas at voluptate dicta vel quis fugiat? Iure, unde quasi aperiam laboriosam commodi autem hic excepturi dolorum in?</p> -->
            </div>
        </li>
        <li #list class="list"  (click)="openList(2)">
            <div class="list-head" [class.text]="listArray[2]">
                <h3>Where can I watch?</h3>
                <img src="assets/images/icons/plus.svg" alt="" class="rotate-icon">
            </div>
            <div class="list-content" [class.content-visible]="!listArray[2]">
                <p>
                    Watch anywhere, anytime. Sign in with your Cineflix account to watch instantly on the web at Cineflix.com from your personal computer or on any internet-connected device that offers the Cineflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.
                    You can also download your favourite shows with the iOS or Android app. Use downloads to watch while you're on the go and without an internet connection. Take Cineflix with you anywhere.
                </p>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus provident nam ipsam quas at voluptate dicta vel quis fugiat? Iure, unde quasi aperiam laboriosam commodi autem hic excepturi dolorum in?</p> -->
            </div>
        </li>
        <li #list class="list"  (click)="openList(3)">
            <div class="list-head" [class.text]="listArray[3]">
                <h3>How do I cancel?</h3>
                <img src="assets/images/icons/plus.svg" alt="" class="rotate-icon">
            </div>
            <div class="list-content" [class.content-visible]="!listArray[3]">
                <p>
                    Cineflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime.
                </p>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus provident nam ipsam quas at voluptate dicta vel quis fugiat? Iure, unde quasi aperiam laboriosam commodi autem hic excepturi dolorum in?</p> -->
            </div>
        </li>
        <li #list class="list"  (click)="openList(4)">
            <div class="list-head" [class.text]="listArray[4]">
                <h3>What can I watch on Cineflix?</h3>
                <img src="assets/images/icons/plus.svg" alt="" class="rotate-icon">
            </div>
            <div class="list-content" [class.content-visible]="!listArray[4]">
                <p>
                    Cineflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Cineflix originals, and more. Watch as much as you want, anytime you want.
                </p>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus provident nam ipsam quas at voluptate dicta vel quis fugiat? Iure, unde quasi aperiam laboriosam commodi autem hic excepturi dolorum in?</p> -->
            </div>
        </li>
        <li #list class="list"  (click)="openList(5)">
            <div class="list-head" [class.text]="listArray[5]" >
                <h3>Is Cineflix good for kids?</h3>
                <img src="assets/images/icons/plus.svg" alt="" class="rotate-icon">
            </div>
            <div class="list-content" [class.content-visible]="!listArray[5]">
                <p>

The Cineflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows and films in their own space.
Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch and block specific titles you don’t want kids to see.
                </p>
                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus provident nam ipsam quas at voluptate dicta vel quis fugiat? Iure, unde quasi aperiam laboriosam commodi autem hic excepturi dolorum in?</p> -->
            </div>
        </li>
      </ul>
    </div>
</div>